# This is an example configuration file
# Copy the content of this file to a file
# called config.yml to the toplevel directory
# of your alfred clone, change it to your needs
# and you should be good to go.

---
project:
  name: your project
service:
  analytics: google analytics tracker code
  host: localhost
  port: 9090
database:
  path: alfred
  adapter: mysql
  username: root
  password:
  host: localhost
irc:
  realname: Alfred the friendly IRC butler
  port: 6667
  nick: your_bot_name
  server: irc.freenode.net
  version: 0.0.1
  channels:
  - alfredbutler
  nickserv: your_bot_nickserv_password
  verbose: true
allowed:
- you_on_twitter
twitter:
  owner_login: your_twitter_login
  owner_password: your_twitter_password
  bot_login: your_bot_name
  bot_password: your_bot_twitter_password
ecosystem:
  name: datamapper
  accounts:
  - datamapper
  members:

  - name: datamapper

  - name: dkubb/veritas
    category: library

  # Plugins

  - name: snusnu/dm-snippets
    category: plugin
  - name: snusnu/dm-is-self_referential
    category: plugin
  - name: snusnu/dm-is-rateable
    category: plugin
  - name: snusnu/dm-is-commentable
    category: plugin
  - name: snusnu/dm-accepts_nested_attributes
    category: plugin
  - name: snusnu/dm-config
    category: plugin
  - name: snusnu/dm-is-remixable
    category: plugin
  - name: snusnu/dm-is-protectable
    category: plugin
  - name: snusnu/dm-is-cloneable
    category: plugin
  - name: snusnu/dm-is-localizable
    category: plugin
  - name: snusnu/dm-is-awesome_set
    category: plugin
  - name: snusnu/dm-is-taggable
    category: plugin
  - name: krobertson/dm-paperclip
    category: plugin
  - name: hassox/dm-polymorphic
    category: plugin
  - name: lholden/dm-is-paginated
    category: plugin
  - name: aq1018/dm-is-slug
    category: plugin
  - name: aq1018/dm-is-markup
    category: plugin
  - name: genki/dm-pagination
    category: plugin
  - name: godfat/dm-is-reflective
    category: plugin
  - name: BrianTheCoder/dm-is-schemaless
    category: plugin
  - name: booch/dm-machinist
    category: plugin
  - name: pius/dm-semantic
    category: plugin
  - name: meekish/openid_dm_store
    category: plugin
  - name: lholden/dm-is-slugged
    category: plugin
  - name: dbussink/dm-searchable
    category: plugin
  - name: assembly/dm-filters
    category: plugin
  - name: namelessjon/dm-gen
    category: tool
  - name: dbussink/dm-timeline
    category: plugin
  - name: dbussink/dm-audited
    category: plugin
  - name: adammck/dm-fuzz
    category: plugin
  - name: saimonmoore/dm-counter-cache
    category: plugin
  - name: maxime/dm-is-taggable
    category: plugin
  - name: coryodaniel/dm-property-manager
    category: plugin
  - name: carpeliam/dm-slug
    category: plugin
  - name: postmodern/dm-mirror
    category: plugin
  - name: sunfmin/dm-gitdb
    category: plugin
  - name: solnic/dm-is-formattable
    category: plugin
  - name: rlivsey/dm-userstamp
    category: plugin
  - name: david/dm-is-revisioned
    category: plugin
  - name: genki/dm-has-versions
    category: plugin
  - name: pat/dm-sanitizer
    category: plugin
  - name: yukiko/dm_should
    category: plugin
  - name: jeremyboles/dm-is-sluggable
    category: plugin
  - name: genki/dm-last
    category: plugin
  - name: neovintage/dm-mysql
    category: plugin
  - name: moser/dm-optlock
    category: plugin
  - name: jeroenvandijk/dm_templates
    category: plugin
  - name: botanicus/dm-spec
    category: plugin
  - name: maxime/dm-fasten-the-seat-belt
    category: plugin
  - name: dkubb/dm-ambition
    category: plugin
  - name: foysavas/dm-geokit
    category: plugin
  - name: godfat/pagify
    category: plugin
  - name: maiha/dm-ys
    category: plugin
  - name: bkerley/have-code
    category: plugin
  - name: tflynn/dm-acts_as_constant
    category: plugin
  - name: mitya/annotate_properties
    category: plugin
  - name: tpitale/information_schema
    category: plugin
  - name: kematzy/dm-is-published
    category: plugin
  - name: kematzy/dm-is-select
    category: plugin
  - name: harukizaemon/dm-trimmer
    category: plugin
  - name: postmodern/dm-predefined
    category: plugin
  - name: visionmedia/dm-pagination
    category: plugin
  - name: myobie/dm-json-search
    category: plugin
  - name: RipTheJacker/dm-is-friendly
    category: plugin
  - name: shanna/dm-money
    category: plugin
  - name: xaviershay/dm-checked-types
    category: plugin
  - name: knowtheory/dm-sugar-glider
    category: plugin
  - name: jmettraux/ruote-dm
    category: integration
  - name: postmodern/dm-visualizer
    category: tool
  - name: knowtheory/dm-appengine-tests
    category: demo
  - name: coryodaniel/dm-cutie
    category: plugin
  - name: coryodaniel/dm-cutie-extras
    category: plugin
  - name: coryodaniel/dm-cutie-ui
    category: plugin
  - name: bhuga/dm-rdf-tutorial
    category: tutorial
  - name: quinn/dm-drupal
    category: plugin
  - name: irjudson/dm-tpcc
    category: plugin
  - name: postmodern/yard-dm
    category: integration
  - name: postmodern/dm-is-read_only
    category: plugin
  - name: benburkert/dm-is-permalink
    category: plugin
  - name: knowtheory/dm-twitter
    category: plugin
  - name: atmos/dm-references
    category: plugin
  - name: knowtheory/dm-specs
    category: specs
  - name: kematzy/sinatra-dm
    category: integration
  - name: michael/dm-is-persistent_state_machine
    category: plugin
  - name: xaviershay/dm-nested-transactions
    category: plugin
  - name: joshaven/dm-authenticatable-resource
    category: plugin
  - name: somebee/dm-is-audited
    category: plugin
  - name: mkristian/dm-utf8
    category: plugin
  - name: kematzy/dm-forms
    category: plugin
  - name: heedley/dm-is-uuidified
    category: plugin
  - name: bgentry/dm-is-inheritable
    category: plugin
  - name: ravinggenius/dm-is-extendable
    category: plugin
  - name: BrianTheCoder/dm-preferences
    category: plugin
  - name: qhoxie/dm-encrypted
    category: plugin
  - name: solnic/dm-is-configurable
    category: plugin
  - name: remi/dm-property-validations
    category: plugin
  - name: jm81/dm-address
    category: plugin
  - name: postmodern/yard-dm-predefined
    category: integration
  - name: andyferra/dm-unwashed
    category: plugin
  - name: kematzy/dm-actionstamps
    category: plugin

  # Adapters

  - name: myobie/dm-imap-adapter
    category: adapter
  - name: genki/dm-datastore-adapter
    category: adapter
  - name: paul/dm-echo-adapter
    category: adapter
  - name: atduskgreg/dm-fql-adapter
    category: adapter
  - name: solnic/dm-gdata-adapters
    category: adapter
  - name: adelcambre/dm_github_adapter
    category: adapter
  - name: mattetti/dm-gvideo-adapter
    category: adapter
  - name: vanpelt/dm-imap-adapter
    category: adapter
  - name: senny/dm-isbndb-adapter
    category: adapter
  - name: bernerdschaefer/dm-jdbc-adapter
    category: adapter
  - name: solnic/dm-mongo-adapter
    category: adapter
  - name: mkristian/dm-ldap-adapter
    category: adapter
  - name: irjudson/dm-ldap-adapter
    category: adapter
  - name: yogo/dm-persevere-adapter
    category: adapter
  - name: bendiken/dm-rdf
    category: adapter
  - name: whoahbot/dm-redis-adapter
    category: adapter
  - name: mikeric/dm-riak-adapter
    category: adapter
  - name: paul/dm-s3-adapter
    category: adapter
  - name: halorgium/dm-salesforce
    category: adapter
  - name: jeremyboles/dm-adapter-simpledb
    category: adapter
  - name: shanna/dm-sphinx-adapter
    category: adapter
  - name: absperf/dm-ssbe-adapter
    category: adapter
  - name: shanna/dm-tokyo-adapter
    category: adapter
  - name: deepfryed/dm-tokyo-cabinet-adapter
    category: adapter
  - name: paul/dm-tokyotyrant-adapter
    category: adapter
  - name: jpgarcia/dm-waztables-adapter
    category: adapter
  - name: coreyti/dm-pivotal-tracker
    category: adapter
  - name: lritter/dm-solr-adapter
    category: adapter
  - name: senny/dm-freebase-adapter
    category: adapter
  - name: RipTheJacker/dm-couchdb-adapter
    category: adapter
  - name: mkristian/dm-lucene-adapter
    category: adapter
  - name: krobertson/dm-dbslayer
    category: adapter
  - name: steflewandowski/dm-amqp
    category: adapter
  - name: absperf/dm-tiny-tt-adapter
    category: adapter
  - name: rkj/dm-postgis
    category: adapter
  - name: curzonj/dm-fluiddb-adapter
    category: adapter
  - name: jkestr/dm-twitter
    category: adapter
  - name: jm81/dm-svn
    category: adapter
  - name: mattpuchlerz/dm-meetup
    category: adapter
  - name: michaeldauria/dm-hbase
    category: adapter
  - name: dkubb/yardstick
    category: integration
  - name: snusnu/alfred
    category: demo


  # process these last since they
  # need as many as possible known
  # community members to get accurate
  # statistics

  - name: pluginaweek/state_machine
    category: compatible
  - name: bmabey/database_cleaner
    category: compatible
  - name: mislav/will_paginate
    category: compatible
