<% if conversation.size > 0 %>
<ol class="conversation">
  <% conversation.each do |message| %>
  <li>
    <cite><%= message['nick'] %> at <%= Time.at(message['timestamp']) %></cite>
    <blockquote cite='<%= message['permalink'] %>'><%= message['line'] %></blockquote>
  </li>
  <% end %>
</ol>
<% end %>